/db-compare/venv
/db-compare/report
/db-compare/junitresult
/hms-backup-restore/venv
/kafka-listener/target
/db-compare/__pycache__
/db-compare/assets
db-compare/.DS_Store
/hms-backup-restore/__pycache__
/hms-backup-restore/src/__pycache__
/kafka-listener/.idea
/platys-hms/data-transfer
/platys-hms/backup
/platys-hms/performance-test-base
/platys-hms/container-volume
/hive-metastore-python/gen-py

/hms-s3-compare-partitions/venv
/hms-s3-repair-performance-test/venv

**/__pycache__
/hms-s3-restore-test/venv
/hms-test-availability/venv
